@{
  ViewBag.Title = "Home Page";

  var variables = Environment.GetEnvironmentVariables();
  var appSettings = System.Configuration.ConfigurationManager.AppSettings;
  var connectionStrings = System.Configuration.ConfigurationManager.ConnectionStrings;
}

<h3>ASPNET Environment variables</h3>
<dl>
  @foreach (var key in variables.Keys.OfType<string>().Where(k => k.StartsWith("ASPNET__")))
  {
    <dt>@key</dt>
    <dd>@variables[key]</dd>
  }
</dl>

<h3>App settings</h3>
<dl>
  @foreach (var key in appSettings.Keys.OfType<string>())
  {
    <dt>@key</dt>
    <dd>@appSettings.Get(key)</dd>
  }
</dl>

<h3>Connection strings</h3>
<dl>
  @foreach (var element in connectionStrings.Cast<System.Configuration.ConnectionStringSettings>())
  {
    <dt>@element.Name</dt>
    <dd>@element.ConnectionString</dd>
  }
</dl>